<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Patient ID</label>
                    <input name="patientID" [(ngModel)]="patientID" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="Search()" class="btn btn-success">Search</button>
                </div>
                <div class="row g-3" *ngFor="let i of searchData">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">patientID</label>
                        <input type="text" class="form-control" value="{{i.patientID}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">patientName</label>
                        <input type="text" class="form-control" value="{{i.patientName}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">dob</label>
                        <input type="text" class="form-control" value="{{i.dob}}">
                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">gender</label>
                        <input type="text" class="form-control" value="{{i.gender}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">phoneNo</label>
                        <input type="text" class="form-control" value="{{i.phoneNo}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">doctorID</label>
                        <input type="text" class="form-control" value="{{i.doctorID}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">doctorName</label>
                        <input type="text" class="form-control" value="{{i.doctorName}}">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="label-control">roomNo</label>
                        <input type="text" class="form-control" value="{{i.roomNo}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button (click)="Delete(i.id)" class="btn btn-success">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>